{% extends '::layout.html.twig' %}

{% block body -%}
    

    <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Daterub</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('rubrique_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.dateRub %}{{ entity.dateRub|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    {% if is_granted('ROLE_SCOL') %}
                    <li>
                        <a class="icon-remove" href="{{ path('rubrique_delete', { 'id': entity.id }) }}" title="supprimer" onclick="return confirm('are u sure?')"></a>
                    </li>
                    <li>
                        <a class="icon-pencil" href="{{ path('rubrique_edit', { 'id': entity.id }) }}" title="modifier"></a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
            <a class="btn" href="{{ path('rubrique_new') }}">
                Ajouter Rubrique
            </a>
        
    {% endblock %}
