   {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/zoombox.css') }}" type="text/css" media="all" />
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

{% endblock %}
<h1>Profil</h1>

    <form  class="form-horizontal" action="{{ path('espenseignant_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.civilite) }}</label>
            <div class="controls"> {{ form_widget(edit_form.civilite) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.id) }}</label>
            <div class="controls"> {{ form_widget(edit_form.id) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.cin) }}</label>
            <div class="controls"> {{ form_widget(edit_form.cin) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.cnss) }}</label>
            <div class="controls"> {{ form_widget(edit_form.cnss) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.tel1) }}</label>
            <div class="controls"> {{ form_widget(edit_form.tel1) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.tel2) }}</label>
            <div class="controls"> {{ form_widget(edit_form.tel2) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.datenaissance) }}</label>
            <div class="controls"> {{ form_widget(edit_form.datenaissance) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.datentree) }}</label>
            <div class="controls"> {{ form_widget(edit_form.datentree) }} </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">{{ form_label(edit_form.datesortie) }}</label>
            <div class="controls"> {{ form_widget(edit_form.datesortie) }} </div>
        </div>
        
          <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
         <h3>Cursus scolaire et universitaire</h3>
              <tr>
                    <td>Grade</td>
                    <td>Annee de début</td>
                    <td>Annee fin</td>
                    <td>Action</td>
                  </tr>
        {% for cursus in enscursus %}
          {%if cursus.libelle is sameas("Cursus scolaire et universitaire") %}
                  <tr>
                      
                      <td>{{ cursus.type }}  </td>
                      <td>{{ cursus.datedebut|date('Y-m-d H:i:s')}}</td>
                      <td>{{ cursus.datefin|date('Y-m-d H:i:s')}}</td>
                        <td>  <a class="btn btn-success" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/edit">Edit</a>
                          <a class="btn btn-danger" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/show">Delete</a></td>
                
                  </tr>

         
      {%endif%}
        
         {% endfor %}
                   </table>
       
        <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
            <h3>Cursus à ESPRIT</h3>
            <tr>
                    <td>Grade</td>
                    <td>Annee de début</td>
                    <td>Annee fin</td>
                    <td>Action</td>
                  </tr>
        {% for cursus in enscursus %}
          {%if cursus.libelle is sameas("Cursus à ESPRIT") %}
                  <tr>
                     
                    <td>{{ cursus.type }}  </td>
                    <td>{{ cursus.datedebut|date('Y-m-d H:i:s')}}</td>
                    <td>{{ cursus.datefin|date('Y-m-d H:i:s')}}</td>
                       <td>  <a class="btn btn-success" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/edit">Edit</a>
                          <a class="btn btn-danger" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/show">Delete</a></td>
                
                  </tr>
         
      {%endif%}
        
         {% endfor %}
                   </table>
        
          <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
         <h3>Fonction à ESPRIT</h3>
              <tr>
                    <td>Grade</td>
                    <td>Annee de début</td>
                    <td>Annee fin</td>
                    <td>Action</td>
                  </tr>
        {% for cursus in enscursus %}
          {%if cursus.libelle is sameas("Fonction à ESPRIT") %}
                  <tr>
                     
                    <td>{{ cursus.type }}  </td>
                    <td>{{ cursus.datedebut|date('Y-m-d H:i:s')}}</td>
                    <td>{{ cursus.datefin|date('Y-m-d H:i:s')}}</td>
                       <td>  <a class="btn btn-success" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/edit">Edit</a>
                          <a class="btn btn-danger" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/show">Delete</a></td>
                
                  </tr>
         
      {%endif%}
        
         {% endfor %}
                   </table>
        
           <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
        <h3>Unité pédagogique</h3>
               <tr>
                    <td>Grade</td>
                    <td>Annee de début</td>
                    <td>Annee fin</td>
                    <td>Action</td>
                  </tr>
        {% for cursus in enscursus %}
          {%if cursus.libelle is sameas("Unité pédagogique") %}
                  <tr>
                     
                    <td>{{ cursus.type }}  </td>
                    <td>{{ cursus.datedebut|date('Y-m-d H:i:s')}}</td>
                    <td>{{ cursus.datefin|date('Y-m-d H:i:s')}}</td>
                     <td>  <a class="btn btn-success" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/edit">Edit</a>
                          <a class="btn btn-danger" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/show">Delete</a></td>
                
                  </tr>
         
      {%endif%}
        
         {% endfor %}
                   </table>
        
          <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;">
         <h3>Expérience avant ESPRIT</h3>
              <tr>
                    <td>Grade</td>
                    <td>Annee de début</td>
                    <td>Annee fin</td>
                    <td>Action</td>
                  </tr>
        {% for cursus in enscursus %}
          {%if cursus.libelle is sameas("Expérience avant ESPRIT") %}
                  <tr>
                    
                    <td>{{ cursus.type }}  </td>
                    <td>{{ cursus.datedebut|date('Y-m-d H:i:s')}}</td>
                    <td>{{ cursus.datefin|date('Y-m-d H:i:s')}}</td>
                   <td>  <a class="btn btn-success" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/edit">Edit</a>
                          <a class="btn btn-danger" href="/esprit/web/app_dev.php/espcursus/{{cursus.id}}/show">Delete</a></td>
                  </tr>
         
      {%endif%}
        
         {% endfor %}
                   </table>
        
        <div class="control-group">
            
            <div class="controls">
                
               {{ form_rest(edit_form) }}
                <button type="submit" class="btn">Edit</button>
                <a class="btn  btn-primary" href="/esprit/web/app_dev.php/espcursus/new">Ajouter</a>
               
            </div>
        </div>
        
    </form>

 
       

