
    <h1>EspEnseignant</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nomEns }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ entity.civilite }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ entity.datenaissance|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Numéro de carte d'identité</th>
                <td>{{ entity.cin }}</td>
            </tr>
            <tr>
                <th>Code CNSS</th>
                <td>{{ entity.cnss}}</td>
            </tr>
            <tr>
                <th>Date d'entrée</th>
                <td>{{ entity.datentree|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Numéro de telephone 1</th>
                <td>{{ entity.tel1 }}</td>
            </tr>
            <tr>
                <th>Numéro de telephone 2</th>
                <td>{{ entity.tel2 }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    {#<li>
        <a href="{{ path('espenseignant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('espenseignant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('espenseignant_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>#}
</ul>

